@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400;700&family=Lateef:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-urdu: "Noto Nastaliq Urdu", "Lateef", serif;
  --font-serif: "Lateef", serif;
}

body {
  direction: rtl;
  @apply bg-slate-50 text-slate-900;
}
